body{
    margin: 0px;
    background-color: #000;
    /*padding-left: 3px;*/
    overflow: hidden;
}

.container-player {
    width:100%;
    /*max-width: 24.7vw;*/
    max-width: 33vw;
    /*max-height: 33vh;*/
    display: inline-block;
    /*vertical-align: top;*/
    /*margin-right: 20px;*/
    position: relative;
    font-family: arial, helvetica, sans-serif;
}

.container-player [data-youtube-id] {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
}

.container-player .yt-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-player .player-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 1;
}
/*
.container-player .player-poster:before {
    box-sizing: border-box;
    content: 'Play';
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 18px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
*/

#titleBlock1{
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    position: fixed;
    top: calc(33% - 0px);
    left: 33%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 288px;
}
#titleBlock2{
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    position: fixed;
    top: calc(50% - 0px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 288px;
}
#titleBlock3{
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    position: fixed;
    top: calc(66% - 0px);
    left: 66%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 288px;
}
#titleBlockA{
    /* display: none; */
    color: rgb(10, 10, 10); /*rgb(255, 255, 255)*/
    background-color: rgb(255,255,255);
    mix-blend-mode: lighten; /*difference*/
    position: fixed;
    top: 0;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    z-index: 1;
    font-size: 38px;
    text-align: justify;
    text-justify: inter-word;
    width: calc( 100vw - 10px );
    height: 38px;
    margin: 5px;
}
#titleBlockB{
    /* display: none; */
    color: rgb(10, 10, 10); /*rgb(255, 255, 255)*/
    background-color: rgb(255,255,255);
    mix-blend-mode: lighten; /*difference, lighten*/
    position: fixed;
    top: 40px;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    z-index: 1;
    font-size: 13px; /*18px*/
    text-align: justify;
    text-justify: inter-word;
    width: calc( 100vw - 10px );
    height: calc( 100vh - 50px );
    margin: 5px;
}
#entranceBlock{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    z-index: 99;
}
#description{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}
#unmuteButton{
    position: absolute;
    z-index: 99;
    border: none;
    background: #000;
    color:#fff;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    transition: opacity 0.3s;
    cursor: pointer;
    min-height: 39px;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.italic{
      font-style: italic;
      font-weight: bold;
    }


@media only screen and (max-width: 1279px) {
    .container-player {
        max-width: 49vw;
    }
    #description{
        width: 80%;
        top: 46%;
        /*text-align: left;*/
    }
    #unmuteButton{
        top: 66%;
    }
}